.root {
  display: flex;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-left: 17px;
}
.avatarImg {
  width: 45px;
  border-radius: 50%;
  height: 45px;
  margin-left: 10px;
  margin-right: 10px;
}
.avatar {
  margin-right: 15px;
}

.form {
  width: 100%;

  button {
    margin-top: 10px;
  }
}
